In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('listings.csv')
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,6369,"Rooftop terrace room , ensuite bathroom",13660,Simon,Chamartín,Hispanoamérica,40.45724,-3.67688,Private room,90,4,102,2022-11-29,0.66,1,61,18,NaN
1,21853,Bright and airy room,83531,Abdel,Latina,Cármenes,40.40381,-3.74130,Private room,31,4,33,2018-07-15,0.33,2,346,0,NaN
2,24805,Gran Via Studio Madrid,346366726,Alvaro,Centro,Universidad,40.42183,-3.70529,Entire home/apt,92,5,25,2022-10-16,0.26,1,73,10,NaN
3,26825,Single Room whith private Bathroom,114340,Agustina,Arganzuela,Legazpi,40.38975,-3.69018,Private room,29,2,173,2022-11-23,1.13,1,345,19,NaN
4,37921,Piso barrio de salamanca,162926,Sergio,Salamanca,Recoletos,40.42325,-3.68281,Private room,20,3,0,NaN,NaN,1,291,0,NaN

In [3]:
#Comprobamos que no existan valores nulos o valores en blanco en la tabla
df.isnull().sum()

id                                    0
name                                  4
host_id                               0
host_name                             3
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                        4127
reviews_per_month                  4127
calculated_host_listings_count        0
availability_365                      0
number_of_reviews_ltm                 0
license                           18038
dtype: int64

In [4]:

#Eliminamos las columnas que no vamos a necesitar
df.drop(['name','last_review','reviews_per_month','license','host_name'], axis=1)

,id,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,calculated_host_listings_count,availability_365,number_of_reviews_ltm
0,6369,13660,Chamartín,Hispanoamérica,40.457240,-3.676880,Private room,90,4,102,1,61,18
1,21853,83531,Latina,Cármenes,40.403810,-3.741300,Private room,31,4,33,2,346,0
2,24805,346366726,Centro,Universidad,40.421830,-3.705290,Entire home/apt,92,5,25,1,73,10
3,26825,114340,Arganzuela,Legazpi,40.389750,-3.690180,Private room,29,2,173,1,345,19
4,37921,162926,Salamanca,Recoletos,40.423250,-3.682810,Private room,20,3,0,1,291,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20771,779864034353423768,82781578,Barajas,Aeropuerto,40.454986,-3.584427,Private room,42,1,0,1,365,0
20772,780168420093352936,413881187,Centro,Embajadores,40.410884,-3.702173,Entire home/apt,112,1,0,1,28,0
20773,780281142182756633,460712642,Chamartín,Castilla,40.469088,-3.687143,Entire home/apt,117,1,0,4,20,0
20774,780325020069234563,377605855,Ciudad Lineal,Pueblo Nuevo,40.434037,-3.639478,Entire home/apt,75,1,0,240,68,0
20775,780507594477362209,291759043,Chamartín,Prosperidad,40.440107,-3.677521,Entire home/apt,73,1,0,21,355,0

In [20]:

#Agruparemos por distrito y precio medio en forma descendente
df.groupby(["neighbourhood_group"])["price"].mean().sort_values(ascending=False)

neighbourhood_group
San Blas - Canillejas    324.334038
Hortaleza                262.651786
Ciudad Lineal            257.572093
Fuencarral - El Pardo    248.245614
Moncloa - Aravaca        231.605960
Retiro                   191.524700
Salamanca                173.513361
Chamberí                 159.186360
Centro                   154.546503
Arganzuela               143.980556
Tetuán                   139.633434
Barajas                  130.043478
Chamartín                124.961921
Villa de Vallecas        115.768421
Puente de Vallecas       107.867958
Latina                   103.383094
Usera                     96.087571
Moratalaz                 89.109489
Villaverde                87.312849
Vicálvaro                 84.904762
Carabanchel               83.408719
Name: price, dtype: float64

In [21]:

#Agruparemos por precio medio en cada barrio
df.groupby(["neighbourhood"])["price"].mean().sort_values(ascending=False)

neighbourhood
Concepción       1379.785714
Valdefuentes      678.145038
Valverde          443.011236
Rosas             431.985294
Arcos             406.187500
                    ...
Vinateros          51.181818
Pavones            50.714286
Aeropuerto         46.444444
Ambroz             45.000000
Fuentelareina      30.000000
Name: price, Length: 126, dtype: float64

In [25]:

#Vamos a mostrar el top 10 de los más visitados según reviews
df.groupby(["neighbourhood"])["number_of_reviews"].sum().sort_values(ascending=False).head(10)

neighbourhood
Embajadores        151912
Universidad        112360
Palacio             94265
Sol                 88813
Cortes              60501
Justicia            50538
Palos de Moguer     21884
Goya                 9634
Recoletos            8453
Pacífico             8167
Name: number_of_reviews, dtype: int64

In [42]:

#Mostraremos los barrios con mayor cantidad de Airbnb
# Agrupar por barrios, mostrar el distrito al que pertenecen, cuenta el número de id y ordenar por orden descendente
resultados = df.groupby(['neighbourhood', 'neighbourhood_group'])['id'].count().reset_index(name='Total').sort_values(['Total'], ascending=False).head(10)

# Imprime los resultados
print(resultados)

       neighbourhood neighbourhood_group  Total
49       Embajadores              Centro   2523
115      Universidad              Centro   1964
81           Palacio              Centro   1679
112              Sol              Centro   1209
63          Justicia              Centro   1051
39            Cortes              Centro    939
85   Palos de Moguer          Arganzuela    375
114        Trafalgar            Chamberí    366
56              Goya           Salamanca    351
16         Argüelles   Moncloa - Aravaca    342

In [43]:

# Mostraremos cantidad total de Airbnb por único propietario
#Agrupar por host_id y cuenta el número de veces que aparece en la columna
total_propietario = df.groupby(['host_id'])['host_id'].count().reset_index(name='Total').sort_values(['Total'], ascending=False)

# Imprime los resultados
print(total_propietario)

         host_id  Total
9410   377605855    240
10557  471977881    141
9188   346367515    119
2601    28038703    102
5361   107141654     94
...          ...    ...
4147    62382259      1
4149    62410896      1
4150    62414941      1
4152    62427169      1
10948  491010863      1

[10949 rows x 2 columns]

In [35]:

#Mostraremos el total según tipos de habitaciones
# Agrupar por tipo de habitación y cuenta el número de veces que aparece en la columna
top_habitaciones = df.groupby(['room_type'])['room_type'].count().reset_index(name='Total').sort_values(['room_type'], ascending=False)

# Imprime los resultados
print(top_habitaciones)

         room_type  Total
3      Shared room    282
2     Private room   7112
1       Hotel room    131
0  Entire home/apt  13251

In [45]:

#Mostraremos el precio promedio según el tipo de habitación en cada barrio
# Agrupa por barrio y tipo de habitación, calcula el promedio del precio y ordena por orden descendente
resultados = df.groupby(['room_type','neighbourhood'])['price'].mean().reset_index(name='Precio_Medio').sort_values(['Precio_Medio'], ascending=False).head(10)

# Imprime los resultados
print(resultados)

           room_type    neighbourhood  Precio_Medio
322      Shared room      San Pascual   3000.000000
37   Entire home/apt       Concepción   2762.676471
81   Entire home/apt  Palomeras Bajas   1190.800000
317      Shared room            Rosas    890.000000
115  Entire home/apt     Valdefuentes    858.075000
119  Entire home/apt         Valverde    754.369565
24   Entire home/apt       Canillejas    650.033333
261     Private room    Valdeacederas    644.102564
99   Entire home/apt            Rosas    582.000000
11   Entire home/apt          Amposta    527.500000

In [39]:

#Para finalizar, mostraremos la disponibilidad en promedio durante el año
# Agrupar por barrio y calcular el promedio de la disponibilidad, ordenar por orden descendente
resultados = df.groupby(['neighbourhood_group'])['availability_365'].mean().reset_index(name='Disponibilidad').sort_values(['Disponibilidad'], ascending=False)

# Imprime los resultados
print(resultados)

      neighbourhood_group  Disponibilidad
18              Vicálvaro      192.730159
17                  Usera      191.920904
12     Puente de Vallecas      189.521127
16                 Tetuán      181.287009
15  San Blas - Canillejas      180.961945
2             Carabanchel      180.459128
19      Villa de Vallecas      179.210526
8               Hortaleza      174.636161
7   Fuencarral - El Pardo      171.515789
3                  Centro      170.280940
1                 Barajas      168.757764
14              Salamanca      167.075246
6           Ciudad Lineal      167.029457
4               Chamartín      162.596026
5                Chamberí      160.996035
13                 Retiro      157.301736
9                  Latina      156.392086
20             Villaverde      155.458101
10      Moncloa - Aravaca      148.983444
11              Moratalaz      140.394161
0              Arganzuela      135.213889